h1 Artigos
 
table.table.table-striped
  thead
    tr
      th Título
      th Publicado em
      th Categoria
      th
 
  tbody
    - @articles.each do |article|
      tr
        td = article.title
        td = l article.published_at
        td = article.category.name
        td
          .btn-group.pull-right
             = link_to 'Ver', article, class: 'btn btn-default btn-sm'
             = link_to 'Editar', edit_article_path(article), class: 'btn btn-default btn-sm'
             = link_to 'Excluir', article, :confirm => 'Tem certeza?', method: :delete, class: 'btn btn-default btn-sm'
 
br
 
= link_to 'Criar Artigo', new_article_path, class: 'btn btn-primary'