-if notice
  .alert.alert-info.alert-dismissable
    button type="button" class="close" data-dismiss="alert" aria-hidden="true" &times; 
    = notice
 
h1 
  = @article.title
  .pull-right
    = link_to 'Editar', edit_article_path(@article), class: 'btn btn-default'
 
hr

strong = @article.category.name
.pull-right Cerca de <b>#{time_to_read @article.body}</b> de leitura

p = l @article.published_at
= simple_format @article.body