@import "bootstrap"

body
  margin-top: 60px

textarea.form-control
  height: 250px

select.form-control
  width: 120px
  display: inline-block

input[type="checkbox"].form-control
  display: inline
  width: auto
  height: auto
  padding: 0
  box-shadow: none

label.control-label
  padding: 0

/* http://pt.what-character-are-you.com/d/pt/149/result/803.html */